html, body {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F8F8F7;
    background-image: url("bg.png");
    font-family: "Century Gothic", serif;
    line-height: 1.5;
    color: #797979;
    letter-spacing: 0.01em;
    font-size: 16px;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.clearfix::after {
    content:"";
    display: block;
    clear: both;
}

a {
    color: #797979;
    text-decoration: none;
}

h1 {
    color: #A97E78;
    text-align: center; 
    padding-top: 10px;
    margin-bottom: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

h1:hover {
    color: #BEABA7;
    transition: color 2s ease-in-out 0.1s; 
}

h2 {
    color: #D8C4B2;
    text-align: center; 
}

h3 {
    color: #D8C4B2;
    text-align: center; 
    padding-top: 2px;
    
}
/*---Navigation---*/

.header-nav {
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 2px solid #797979;
    position: relative;
    font-size: 1.1rem;
}

.header-nav a > img {
    height: 80%;
    width: auto;
    float: left;
    margin: 0.6rem;

    
}

.active {
    color: #BEABA7;
}

.header-nav  ul {
    margin: 0;
    padding: 0;
    float: right;
    height: 100%;
    position: sticky;
}

.header-nav ul > li {
    display: inline-block;
    height: 100%;
    padding-top: 0.55rem;
    
}

.header-nav .container,
.header-nav .row,
.header-nav .col-4 {

    height: 100%;
}

.header-nav .col-4 {
    padding-top: 0;
    padding-bottom: 0;
}

/*---DROPDOWN-MENU*/

.mobile-nav-button {
    color:  #797979;
    float: right;
    font-size: 2rem;
    border: 2px solid  #797979;
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 0.3rem;
    margin-bottom: 10px;

}
.mobile-nav-button > span {
    position: absolute;
    bottom: -7px;
    left: 6px;
}

.mobile-nav-content > ul >li {
    display: block;
    background-color: #D8C4B2;
    height: 50px;
    padding: 0 1.2rem;
    text-align: center;
}

.mobile-nav-dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.mobile-nav-content {
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
}

.mobile-nav-dropdown:hover > .mobile-nav-content {
    display: block;
}

.mobile-nav {
    display: none;
}

.desktop-nav {
    position: sticky;
}



/*---LINKS---*/

.visited {
    color: #BEABA7;
}

 a:link {

    text-decoration: none;
    color: #797979;
}

 a:visited {

    text-decoration: none;
    
    
}

a:hover {

    color: rosybrown;
    text-decoration: underline;
}

a:active {

    color: palevioletred;
    text-decoration: none;
}

/*--- GRID-SYSTEM ---*/

.container-main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.row::after {
content: "";
clear: both;
display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;

}

.col-1 {
    width: 25%;
    height: 250px;
}

.col-2 {
    width: 50%;
    

}

.col-4 {
    width: 100%;

}

/*---INDEX-BODY*/

img {
    display: block;
    height: 70%;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

img[alt="Colmar"] {
    text-transform: uppercase;
}

video {
    display: block;
    height: auto;
    width: 50%;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

#video-bereich , #image-bereich, #image-bereich2 #like-bereich {
    text-align: center;
    background-color: #F8F8F7;
    height: auto;
}

audio {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#poem {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    display: block;
    border-color: #75464A;
    border-style: solid;
    padding: 0;
    background-color: #F8F8F7;
    text-align: center;
}
/*---BODY-KONTAKT---*/

#kontakt-bereich {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #F8F8F7;
        text-align: center;
        margin-top: 5rem;
 }

 #kontakt-bereich2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8F8F7;
    text-align: center;
    margin-top: 5rem;
}

.mail {
        color: #bebee4;
}

#message-form {
        background: #fff;
        color: #42413f;
        padding: 0;
        margin: 0
        
    
}

.input-form{
        background-color: white;
        box-sizing: border-box;
        border: none;
        width: 100%; 
        letter-spacing: 1.5px;
        height: 45;
        font-size: .8125rem;
        display: block;
        padding: 8px 20px;
        margin: 0 0 9px;
}

#contact {

        font-size: 1.25rem;
        letter-spacing: 1px;
        line-height: 1.25;
}

button {
        background-color: #42413f;
        border: 0 none;
        color: #fff;
        font-size: .875rem;
        height: 50px;
        letter-spacing: 1.5px;
        padding: 8px;
        margin-bottom: 2em;
        width: 100%;
        font-family: inherit;
}

blockquote + h3 {
        padding-top: 2em;
       
}

/*---Allgemein---*/

ol,ul {
    list-style: none;
}
p + i {
    text-transform: uppercase;
}

div h3 {
    width: 100%; 
    letter-spacing: 1.5px;
    height: 45;
    font-size: .8125rem;
    display: block;
    margin: 0 0 9px;
    text-transform: uppercase;
}

#zitat {
    margin-top: 50px;
}

ul > li {
    list-style: none;
    font-size: 1.0rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin: auto;
    padding: 0;
    
}

ul, ol {
    padding: 0;
    margin-top: 0;
}

p {
    padding: 2px;
}

.visited {
    color: #BEABA7;
}

.traum {
    color: rosybrown;
    height: 10px;
    width: 10px;
}

#poem > h2 {
    padding: 0;
}

/*---BODY-ÜBERMICH---*/

iframe {
    display: block;
    height: auto;
    width: 60%;
    border: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20%;
    margin-top: 20%;
}

/*---BODY-FOOTER---*/

#footer li {
    padding-left: 10%;
}
#footer {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    margin: 0 auto 30px;
    padding: 1em 0 1.7em 0em;
    border-top: 8px solid black;
    background-color: #ECE9E4;
}

#footer li {

    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.icon-bottom {
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*---MEDIA QUERIES---*/

@media (max-width: 820px) {

    .col-1 {
        width: 50%;
    }

    #video-bereich video {
        width: 55%;
    }
    #image-bereich,#image-bereich2 image {
        width: 55%;
    }

    .icon-bottom {
        width: 20%;
    }

    #footer  li {
        font-size: 90%;
    }
}

@media (max-width: 620px) {
    
    .col-2 {
        width: 100%;
    }

    #video-bereich video {
        width: 75%;
    }
    #image-bereich,#image-bereich2 image {
        width: 75%;
    }
    .icon-bottom {
        width: 20%;
    }

    #footer  li {
        font-size: 80%;
    }
    
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }


}

@media (max-width: 420px) {

    .col-1 {
        width: 100%;
        height: auto;
    }

    .col-2 {
        width: 100%;
        height: auto;
    }

    #video-bereich video {
        width: 90%;
    }
    #image-bereich,#image-bereich2 image {
        width: 90%;
    }
    .icon-bottom {
        width: 15%;
    }
    #footer  li {
        font-size: 90%;
    }

    nav {
        display: block;
    }

    h1 {
        font-size: 90%;
    }

    h2 {
        font-size: 90%;
    }

    h3 {
        font-size: 90%;
    }

    body {
        font-size: 90%;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}

@media (max-width: 320px) {

    h1 {
        font-size: 90%;
    }

    h2 {
        font-size: 90%;
    }

    h3 {
        font-size: 90%;
    }

    body {
        font-size: 90%;
    }

    .col-1 {
        width: 100%;
        height: auto;
    }

    .col-2 {
        width: 100%;
        height: auto;
    }

    #video-bereich video {
        width: 90%;
    }
    #image-bereich,#image-bereich2 image {
        width: 90%;
    }
    .icon-bottom {
        width: 15%;
    }
    #footer  li {
        font-size: 90%;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}
