html, body {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFFAFA;
    font-family: "Century Gothic", sans-serif;
    line-height: 1.5;
    color: #4f4f4f;
    letter-spacing: 0.01em;
    font-size: 16px;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.clearfix::after {
    content:"";
    display: block;
    clear: both;
}

a {
    color: #4f4f4f;
    text-decoration: none;
}

h1 {
    color: black;
    text-align: center; 
    margin-bottom: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.03em;

}

h2 {
    color: #4f4f4f;
    text-align: center; 
    font-weight: lighter;
    font-size: 1.2em;
    text-transform: uppercase;
    
}

h3 {
    color: #4f4f4f;
    text-align: center; 
    padding-top: 2px;
    font-weight: lighter;
    
}

.ergebnis {
    text-align: center;
}

/*---Navigation---*/

.header-nav {
    width: 100%;
    position: relative;
    font-size: 1.1rem;
}

/*--- GRID-SYSTEM ---*/

.container-main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.row::after {
content: "";
clear: both;
display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;

}

.col-1 {
    width: 25%;
    height: 200px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.col-2 {
    width: 50%;
    height: 200px;
    padding-top: 2em;
    

}

.col-4 {
    width: 100%;

}

/* Button */

button {
    border: 0 none;
    color: rgba(84,84,84,0.55);
    font-size: .875rem;
    height: 50px;
    letter-spacing: 1.5px;
    padding: 8px;
    width: 100%;
    font-family: inherit;
}

/* -- Canvas--*/

img {
    width: 90%;
    height: 120%;
    border: 2px solid black;
}