

h1 {
    color: #A97E78;
    text-align: center; 
    padding-top: 10px;
    margin-bottom: 20px;
    
}

h1:hover {
    color: #BEABA7;
    transition: color 2s ease-in-out 0.1s; 
}

h2 {
    color: #D8C4B2;
    text-align: center; 
    padding-top: 10%;
    
}

h3 {
    color: #D8C4B2;
    text-align: center; 
    padding-top: 10%;
    padding: 0;
    
}

#site-header {
    background-color: white;
    margin: 0 auto;
    border-bottom: 2px solid #797979;
    width: 100%;
    height: auto;
    
}

#site-header > .row {
    display: inline;
}

nav {
    position: sticky;
    text-align: right;
    display: inline;
    position: fixed;
    font-size: 1.2rem;
}

#site-header > a > img {
    height: 50px;
    width: auto;
    position: relative;
}

.container-main {
    width: 100%;
    margin: 30px auto 40px;
    padding: 0;
}

.container-main .row .columne-4 {
    margin-bottom: 10%;
}

.row {
    flex-flow: row wrap;
    display: inline-block;
    margin: 0;
}

.row::after {
    content: "";
    clear: both
}

.columne-1 {
    width: 25%;
    
    display: inline;
    float: left;
}

.columne-2 {
    width: 50%;
    display: inline;
}

.columne-4 {
    width: 100%;
    display: inline;
    float: left;
}

a:link {
    text-decoration: none;
    color: black;   
}

a:hover {
    color: rosybrown;
    text-decoration: underline;
}

a:active {
    color: palevioletred;
    text-decoration: palevioletred;
}

div {
    display: inline;
}

body {
    background-color: #F8F8F7;
    background-image: url("bg.png");
    font-family: "Century Gothic", serif;
    line-height: 1.5;
    color: #797979;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    letter-spacing: 0.01em;
}

.mail {
    color: #bebee4;
}

#poem {
    width: 100%;
    text-align: center;
    position: relative;
    border-color: #75464A;
    border-style: solid;
    margin: 0;
    padding: 0;
}

#poem > h2 {
    padding: 0;
}

.traum {
    color: rosybrown;
    height: 10px;
    width: 10px;
}

.visited {
    color: #BEABA7;
}

ol > li {
    list-style: none;
    padding: 0;
    margin: auto;
}

ul, ol, p {
    padding: 0;
    margin-top: 0;
}

ul > li {
    list-style: none;
    font-size: 1.0rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin: auto;
    padding: 0;
    
}

#message-form {
    background: #fff;
    color: #42413f;
    padding: 0;
    margin: 0
    
}

.input-form{
    background-color: white;
    box-sizing: border-box;
    border: none;
    width: 100%; 
    letter-spacing: 1.5px;
    height: 45;
    font-size: .8125rem;
    display: block;
    padding: 8px 20px;
    margin: 0 0 9px;
}

#zitat {
    margin-top: 50px;
}

#contact {
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 1.25;
}

button {
    background-color: #42413f;
    border: 0 none;
    color: #fff;
    font-size: .875rem;
    height: 50px;
    letter-spacing: 1.5px;
    padding: 8px;
    margin-bottom: 2em;
    width: 100%;
    font-family: inherit;
}

.container-footer {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    margin: 0 auto 30px;
    padding: 1em 0 1.7em 0em;
    border-top: 8px solid black;
    background-color: #ECE9E4;
}

.container-footer ~ .row ~ li {
    font-size: 1.2rem;
    float: right;
    box-sizing: inherit;
    display: inline;
    background-color: #ECE9E4;
    
}

div h3 {
    width: 100%; 
    letter-spacing: 1.5px;
    height: 45;
    font-size: .8125rem;
    display: block;
    margin: 0 0 9px;
    text-transform: uppercase;
}

p + i {
    text-transform: uppercase;
}

img[alt="Colmar"] {
    text-transform: uppercase;
}

img {
    display: inline;
    height: 300px;
    width: auto;
}
video {
    display: inline;
    height: auto;
    width: 400px;
    border: none;
}

iframe {
    display: inline;
    height: 250px;
    width: 400px;
    border: none;
}


.icon-top {
    width: 20%;
    height: auto;
    margin: 0;
    text-align: center;
    display: inline;
}

.icon-bottom {
    width: 10%;
    height: auto;
    margin: 0;
    display: inline;
}

blockquote + h3 {
    padding-top: 2em;
   
}

[class*="col-"] {
    width: 100%;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  

{
    
    body {
        color: #90545d;
    }

    .columne-1 {
        width: 25%;
        
    }
    
    .columne-2 {
        width: 50%;
        
    }
    
    .columne-4 {
        width: 100%;
        
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
   {
    
    body {
        color: #7E5252;
    }

    h1 {
        font-size: 80%;
    }

    .columne-1 {
        width: 25%;
        
    }
    
    .columne-2 {
        width: 50%;

    }
    
    .columne-4 {
        width: 100%;
    }
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
    {

    
    body {
        color: #797979;
    }

    .columne-1 {
        width: 25%;
        
    }
    
    .columne-2 {
        width: 50%;
        
    }
    
    .columne-4 {
        width: 100%;
        
    }
}






